@import '../../styles/vars';
@import '../../styles/mixins';

.right-side {
  @media only screen and (min-width: 0) {
    padding: 24px 40px 0;
    background-color: $light-grey;
    header {
      position: relative;
      figure {
        position: absolute;
        right: 0;
        top: -40px;
      }
      h1 {
        font-size: 36px;
        font-weight: 100;
        font-family: "Arial", sans-serif;
      }
      h2 {
        padding: 4px 12px;
        margin-top: 8px;
        margin-bottom: 0;
        display: inline-block;
        text-transform: uppercase;
        background-color: $light-black;
        color: white;
        font-family: "Arial", sans-serif;
        font-size: 14px;
        font-width: 400;
      }
    }
    header + .text-component {
      margin-top: 24px;
    }
    .rating-level {
      margin-bottom: 4px;
    }
    .text-component {
      position: relative;
      &:before {
        content: attr(index);
        width: 29px;
        background-image: url("../../assets/buton.svg");
        background-repeat: no-repeat;
        padding: 4px 10px;
        left: -60px;
        display: block;
        position: absolute;
        color: white;
      }
    }
  }
}